.layout-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - var(--scrollbar-width, 0px));
    z-index: 1100;
    transition: background-color .5s,border-color .5s;
    border-bottom: 1px solid transparent;
}

.layout-topbar.layout-topbar-sticky {
    background-color: var(--topbar-sticky-bg);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--surface-border);
}