<div class="card">
    <p-toolbar 
        styleClass="shadow-2 layout-topbar layout-topbar-sticky" 
        [style]="{ 'border-radius': '3rem'}">
        <ng-template pTemplate="start">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" /> -->
            <p-button class="toggle-btn"
             icon="pi pi-list" severity="secondary" [rounded]="true" [outlined]="true" 
             (onClick)="onClickSideBarIcon($event)" />
        </ng-template>
        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">
                <button class="p-link inline-flex justify-content-center align-items-center text-primary h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-home text-2xl"></i>
                </button>
                <button class="p-link inline-flex justify-content-center align-items-center text-primary h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-user text-2xl"></i>
                </button>
                <button class="p-link inline-flex justify-content-center align-items-center text-primary h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-search text-2xl"></i>
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <p-avatar 
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                    shape="circle" />
                <span class="font-bold text-primary">
                    Amy Elsner
                </span>
            </div>
        </ng-template>
    </p-toolbar>
    </div>